ul.categorySidebar.flex.flex-col.gap-y-10.orange-400.font-bold.text-18 دسته بندی

	a(href="javascript:void(0)").flex.flex-row.items-center
		img.ml-5(src="./img/icon-phone.png" alt="") 
		li.categorySidebar__Item تلفن همراه
	a(href="javascript:void(0)").flex.flex-row.items-center
		img.ml-5(src="./img/icon-computer.png" alt="") 
		li.categorySidebar__Item لب تاپ 
	a(href="javascript:void(0)").flex.flex-row.items-center
		img.ml-5(src="./img/icon-watch.png" alt="watch") 
		li.categorySidebar__Item ساعت هوشمند

include ./_filter
