header#header--main.flex.items-center.justify-between.bg-white.w-full.h-6.w-full.px-11(class="flex lg:hidden ")
	a.lnk--back.p-2.rounded-default.bg-white.shadow-default
		svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" width="20" height="20")
			path(stroke-linecap="round" stroke="#222F5D" stroke-linejoin="round" d="M9 5l7 7-7 7")

	p.category.slate-800.font-medium.text-20 گوشی آیفون ۱۳ ۱۲۸ گیگابایت
	a.lnk--search.p-2.rounded-default.bg-white.shadow-default(href="javascript.void();") 
		svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
			path(d="M9.58317 17.4998C13.9554 17.4998 17.4998 13.9554 17.4998 9.58317C17.4998 5.21092 13.9554 1.6665 9.58317 1.6665C5.21092 1.6665 1.6665 5.21092 1.6665 9.58317C1.6665 13.9554 5.21092 17.4998 9.58317 17.4998Z" stroke="#222F5D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
			path(d="M18.3332 18.3332L16.6665 16.6665" stroke="#222F5D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")



















